:root{
    --theme-color:#46a1eb;
}

body {
    margin:0px;
    padding:0px;
    max-width:100wh;
    max-height:100vh;
    background-color:#ececec;
    font-family:"sans-serif";
    overflow-y:hidden;
}

/*Toast Msg*/
#toast_msg {
    background-color:#222;;
    color:lightgray;
    padding:10px;
    text-align: center;
    width:50%;
    float: middle;
    border-radius: 10px;
    position: absolute;
    z-index: 15000;    
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow:0px 3px 3px rgba(0,0,0,0.2);
    display:none;
    
}




/*Loader*/
#loading {
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    z-index:12;
    font-family:"Oswald","sans-serif";
    font-size: 2em;
    overflow-x: hidden;
    color:#fff;
    text-align: center;
    text-shadow: 0 0 10px crimson;
}

.spinner{
    animation: rotation 1.35s linear infinite;
}

@Keyframes rotation{
from{
    transform: rotate(0);
 }
to{
    transform: rotate(360deg);
}
}
circle
{
    stroke-dasharray: 180;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: turn 1.35s ease-in-out infinite;
}

@Keyframes turn{
    0%{
    stroke-dashoffset: 180;
 }

    50% {
    stroke-dashoffset: 45;
    transform: rotate(135deg);
 }

100%{
    stroke-dashoffset: 180;
    transform: rotate(360deg);
}
}
svg{
    stroke:tomato;
    position:absolute;
    left:40%;
    top:40%;
    transform:translate(-50%,-50%);
}






.top-header{
    width:100%;
    height:45px;
    background-color:var(--theme-color);
    position:fixed;
    top:0px;
    left:0px;
    z-index:3;
}
.menu,.g-theme{
    width:42px;
    height:42px;
    color:#fff;
    margin:1px 1px; 
    border-radius:2px;
    float:left;
    background-color:rgba(0,0,0,0.5);
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
}
.g-name{
    float:center;
    text-align:center;
    height:45px;
    display:inline-block;
}
.g{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-size:18px;
    font-weight:bold;
    color:#fff;
}
.g-theme{
    float:right;
    margin-right:5px;
    background-color:rgba(0,0,0,0.3);
    color:white;
    font-weight:bold;
    border-radius:50%;
}

.g-theme:active{
    transform:scale(0.7);
}


.u-chat,.users{
    width:100%;
    height:calc(90vh - 45px);
    position:relative;
    margin-top:35px;
    overflow-y:scroll;
}
.u-chat{
    display:block;
}
.users{
    display:none;
}

.msg-box .user-avatar{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:var(--theme-color);
    float:left;
}
.msg-box:hover{
    transform:scale(0.96);
}
.msg-box .user-name{
    float:left;
    
}
.msg-box .user-bio{
    float:left;
    
}

button{
    border:none;
}

.msg-box{
    width:calc(100%-10px);
    height:60px;
    background-color:#fff;
    margin-top:5px;
    margin-bottom:2px;
    box-shadow:0px 2px 2px rgba(0,0,0,0.1);
    padding:13px 5px;
    transition:0.4s;
}
.msg-box .user-avatar{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:transparent;
    float:left;
    border:3px solid var(--theme-color);
}
.msg-box .line{
       float: left;
       width: 70%;
       height: 16px;
       margin-left:15px;
}
.msg-box .p{
    font-size:20px;
    background-color:rgba(0,0,0,0.4);
    padding:15px 10px;
    //float:right;
}
.user-name{
    font-size:22px;
    margin-bottom:10px;
    margin-top:5px;
}
.user-bio{
    font-size:12px;
    margin-top:3px;
}
.msg-box:last-child{
    margin-bottom:145px;
}
.ac-u-c{
    height:100px;
    margin-top:50px;
}
.ac-u-h{
    width:96%;
    padding:10px 2%;
    background-color:#fff;
    box-shadow:0px 2px 2px rgba(0,0,0,0.1);
}
.go{
    float:right;
    font-size:22px;
    margin-right:5%;
}
.a{
    font-weight:bold;
}

.ac-u{
    overflow:auto;
    white-space:nowrap;
    overflow-y:hidden;
    background-color:#fff;
    padding:18px 0px;
    margin-top:5px;
    margin-bottom:5px;
    box-shadow:0px 2px 2px rgba(0,0,0,0.1);
    height:50px;
    width:100%;
}
.ac-user{
    width:50px;
    height:50px;
    margin-left:10px;
    border:4px solid var(--theme-color);
    background-color:transparent;
    border-radius:50%;
    display:inline-block;
    padding:2px;
}
.ac-user:last-child{
    margin-right:10px;
}

.ac-user:empty{
     background-color: #ccc;
     background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
     background-size: 600px;
    animation: shine-avatar 1.5s infinite ease-out;
}









.blank-a-user-shower{
    font-size:1.5em;
    text-align:center;
    width:100%;
    display:block;
}



.nav-items{
    position:absolute;
    left:-100%;
    top:0px;
    width:100%;
    height:100%;
    background-color:var(--theme-color);
    transition:0.5s;
    z-index:5;
    overflow-y:scroll;
}
.nav-items .login-btn{
    position:absolute;
    z-index:6;
    top:200px;
    left:50%;
    transform:translate(-50%,-50%);
    width:50%;
    height:40px;
    border:none;
    box-shadow:0px 3px 3px rgba(0,0,0,0.2);
    background-color:#fff;
    font-weight:bold;
}

.back-nav{
    font-size:40px;
    color:#fff;
    z-index:2;
    position:absolute;
    width:40px;
    height:40px;
    top:5px;
    left:5px;
    background-color:rgba(0,0,0,0.6);
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.pic-nav img{
    position:absolute;
    top:0px;
    left:0px;
    height:150px;
    width:100%;
    background-color:lightgreen;
    z-index:1;
}

.pro-settings{
    position:absolute;
    top:150px;
    height:calc(100% - 150px);
    width:100%;
    background-color:#ececec;
    z-index:2;
    overflow-y:scroll;
}
.p-set{
    width:90%;
    height:auto;
    padding:20px 4%;
    background-color:#fff;
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    margin:1%;
    text-align:center;
    margin-top:5px;
}
.p-set input{
    display:block;
    width:94%;
    margin-left:2%;
    margin-top:10px;
    margin-bottom:15px;
    padding:7px 1%;
}
.p-set button{
    display:block;
    width:80%;
    padding:10px 7px;
    margin-left:10%;
    background-color:var(--theme-color);
    font-weight:bold;
    color:#fff;
}



.u-pic{
    width:50px;
    height:50px;
    border-radius:50%;
    z-index:3;
    background-color:#fff;
    position:absolute;
    left:50%;
    top:50px;
    padding:10px;
    transform:translate(-50%,-50%);
    display:flex;
    justify-content:center;
    align-items:center;
    background-size:cover;
    border:4px solid var(--theme-color);
    padding:5px;
}
.u-pro-name{
    z-index:3;
    position:absolute;
    top:90px;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    background-color:rgba(0,0,0,0.8);
    padding:4px 10px;
    letter-spacing:3px;
}
.u-pic .fa{
    font-size:1.5em;
    color:#000;
    position:absolute;
    bottom:-8px;
    right:-8px;
    background-color:transparent;
}
.u-pic .fa:active{
    transform:scale(1.3);
}
.user-avatar img{
    width:50px;
    height:50px;
    border-radius:50%;
    z-index:3;
}
.user-avatar{
    padding:2px;
}
.user-avatar img:empty{
    background-color:black;
}
.ac-user img{
    width:50px;
    height:50px;
    border-radius:50%;
    z-index:5;
}




/*message*/

.c-m{
    position:absolute;
    top:0px;
    left:-100%;
    width:100vw;
    height:100vh;
    background-color:#ececec;
    z-index:4;
    transition:0.2s;
}
.top-c-m{
    position:absolute;
    top:0px;
    left:0%;
    height:50px;
    width:100%;
    background-color:var(--theme-color);
    z-index:3;
    padding:8px 0px;
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
}
.back-msg{
    width:40px;
    height:40px;
    font-size:40px;
    background-color:rgba(0,0,0,0.4);
    display:flex;
    justify-content:center;
    align-items:center;
    margin:7px 5px 5px 5px;
    color:#fff;
}

.top-u-pic{
    width:50px;
    height:50px;
    border-radius:50%;
    position:absolute;
    top:3px;
    right:15px;
    background-color:var(--theme-color);
    padding:2px;
    border:4px solid black;
}
.top-u-pic img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.top-u-c-name{
   position:absolute;
   top:5px;
   left:60px;
   font-size:20px;
   font-weight:bold;
   padding:2px;
}
.top-u-c-status{
    position:absolute;
    top:35px;
    left:63px;
    color:#fff;
    padding:2px;
}

.send-msg-con{
    position:fixed;
    bottom:0px;
    width:100%;
    height:50px;
    background-color:var(--theme-color);
    
}
.send-msg-con input{
    border:none;
    width:70%;
    height:30px;
    background-color:#fff;
    position:absolute;
    top:calc(50% - 15px);
    left:2%;
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    padding:0px 5px;
}
.send-msg-con button{
    width:20%;
    height:30px;
    position:absolute;
    right:15px;
    top:calc(50% - 15px);
    color:#fff;
    background-color:lightgreen;
    border:none;
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
}

input,button:hover{
    outline:none;
}
.messages-con{
    position:absolute;
    width:100%;
    top:65px;
    left:0px;
    height:calc(100vh - 115px);
    background-color:#ececec;
    overflow-y:scroll;
}
.msg{
   margin:5px;
   width:80%;
   height:auto;
   background-color:white;
   padding:20px 10px;   
   font-weight:sans-serif;
   box-shadow:0px 2px 2px rgba(0,0,0,0.1);
}
.u{
    float:right;
    background-color:var(--theme-color);
    color:#fff;
}
.other{
    float:left;
}



/* Profile Page */

.bottom-drawer{
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    animation-fill-mode: forwards;
    z-index: 200;
    color: #fff;
    visibility:hidden;
    overflow-y:scroll;
    overflow-x:hidden;
}


.d-hold{
    height: 85vh;
    position: absolute;
    bottom: -85vh;
    width: 100%;
    animation-fill-mode: forwards;
    background-color:#ececec;
    border-radius:15px 15px 0px 0px;
    transition:1s;
}


.bottom-drawer .bottom__up-arrow{
    margin-top: 0.5rem;
    position: absolute;
    z-index: 2;
    transition: all 0.5s;
}
.bottom__up-arrow{
    font-size: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border:none;
    width:45px;
    height:45px;
    color:#fff;
    background-color:rgba(150,100,250,0.9);
    z-index:2;
    border-radius:5px;
}
.bottom__up-arrow:hover{
    background-color:rgba(150,100,250,0.4);
    outline:none;
}

.u-p-info{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background-color:var(--theme-color);
    z-index:1
    text-align:center;
    border-radius:15px 15px 0px 0px;
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
}
.u-p-pic{
    position:absolute;
    top:0px;
    left:50%;
    transform:translate(-50%,-50%);
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:black;
    border:2px solid lightgreen;
    text-align:center;
}

.u-p-name{
    position:absolute;
    top:calc(15% + 50px);
    left:50%;
    transform:translate(-50%,-50%);
    margin-top:50px;
    font-size:2em;
    font-weight:bold;
}
.u-p-name{
    letter-spacing:3px;
}
.u-p-bio{
    position:absolute;
    top:calc(30% + 50px + 3em);
    left:50%;
    transform:translate(-50%,-50%);
    font-size:13px;
    text-align:center;
    font-size:1em;
}



/*Skelton Loader */

.s-l-con{
   width: 97%;
   height: 90px;
   margin-top:5px;
   border-radius:4px;
   margin-left:1%;
   box-shadow:0px 2px 2px rgba(0,0,0,0.2);
   background-color:#fff;
   margin-bottom:10px;
}
.s-l-con .s-l-p{
     float: left;
     width: 50px;
     height: 50px;
     background-color: #ccc;
     margin: 8px;
     background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
     background-size: 600px;
    animation: shine-avatar 1.5s infinite ease-out;
}

.s-l-con .s-l-l{
       float: left;
       width: calc(100% - 80px);
       height: 15px;
       margin-top: 12px;
       background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
        background-size: 600px;
        animation: shine-lines 1.5s infinite ease-out;
  }

.s-l-con .s-l-p .s-l-l{
   margin-top: 11px;
       
  }
.s-l-con .s-l-line1{
    width:calc(100% - 150px); 
}
.s-l-con .s-l-l ~ .s-l-l{
      background-color: #ececec;
   }  
@keyframes shine-lines {
 0% {
       background-position: -100px;
  }
 40%, 100% { 
        background-position: 200px;
 }
          
} 
@keyframes shine-avatar { 
 0% {
  background-position: -32px;
 }
  40%, 100% {
   background-position: 240px;
   }
}

